[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyaudio = "*"
pyttsx3 = "*"
speechrecognition = "*"
pywhatkit = "*"
yfinance = "*"
pyjokes = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
